.flex-container {
  display: flex;
}

.flex-container > div{
  background: aqua;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-item {
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.vert_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

.full_screen {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  height: 100vh;

}

.horiz_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding: 5px;
  height: 20%;
}

#protonSpin {
  height: 80%;
}

body { margin: 0px; }

label {
  display: block;
  font:
    1rem 'Fira Sans',
    sans-serif;
}

input,
label {
  margin: 0.4rem 0;
}